nav{
    color:rgb(0, 0, 0)
}
 nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 1rem; }

    nav ul a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      padding: 1rem; }
      
      nav ul a:hover {
        background-color: #352f2f;
        color: white
      }